<h2><%= @meditation.user ? @meditation.user.name + "'s" : "Your"%> results</h2>
<div id="bpm">
  Average breaths per minute: <span class="time"><%= @meditation.bpm %></span>
</div>
<div id="stats_summary">
  <table>
    <tr>
    <th>id</th>
    <% %w(inhale exhale cycle).each do |phase| %>
      <% %w(min max avg).each do |stat| %>
        <th><%= phase %> <%= stat %></th>
      <% end %>
    <% end %>
    </tr>
    <tr><%= @meditation.table_row %></tr>
  </table>
</div>